/*
 * Skeleton V1.1
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 8/17/2011
*/

@media only screen and (min-width: 768px) and (max-width: 959px)
{
  #page_inner
  {
    width: 808px;
  }
  #header_ad img {
    max-width:400px;
  }
  #searchform #s {
    width: 70%;
  }
  .container
  {
    width: 768px;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }
  .container .column,
    .container .columns
  {
    margin-left: 10px;
    margin-right: 10px;
  }

  .column.alpha, .columns.alpha
  {
    margin-left: 0;
    margin-right: 10px;
  }

  .column.omega, .columns.omega
  {
    margin-right: 0;
    margin-left: 10px;
  }

  .alpha.omega
  {
    margin-left: 0;
    margin-right: 0;
  }
  
  .container .one.column,
    .container .one.columns
  {
    width: 28px;
  }

  .container .two.columns
  {
    width: 76px;
  }

  .container .three.columns
  {
    width: 124px;
  }

  .container .four.columns
  {
    width: 172px;
  }

  .container .five.columns
  {
    width: 218px;
  }

  .container .six.columns
  {
    width: 265px;
  }

  .container .seven.columns
  {
    width: 315px;
  }

  .container .eight.columns
  {
    width: 364px;
  }

  .container .nine.columns
  {
    width: 412px;
  }

  .container .ten.columns
  {
    width: 460px;
  }

  .container .eleven.columns
  {
    width: 508px;
  }

  .container .twelve.columns
  {
    width: 556px;
  }

  .container .thirteen.columns
  {
    width: 604px;
  }

  .container .fourteen.columns
  {
    width: 652px;
  }

  .container .fifteen.columns
  {
    width: 700px;
  }

  .container .sixteen.columns
  {
    width: 748px;
  }

  body.full_width #main
  {
    width: 748px;
  }

  .container .one-third.column
  {
    width: 236px;
  }

  .container .two-thirds.column
  {
    width: 492px;
  }

    /* Offsets */
  .container .offset-by-one
  {
    padding-left: 48px;
  }

  .container .offset-by-two
  {
    padding-left: 96px;
  }

  .container .offset-by-three
  {
    padding-left: 144px;
  }

  .container .offset-by-four
  {
    padding-left: 192px;
  }

  .container .offset-by-five
  {
    padding-left: 240px;
  }

  .container .offset-by-six
  {
    padding-left: 288px;
  }

  .container .offset-by-seven
  {
    padding-left: 336px;
  }

  .container .offset-by-eight
  {
    padding-left: 384px;
  }

  .container .offset-by-nine
  {
    padding-left: 432px;
  }

  .container .offset-by-ten
  {
    padding-left: 480px;
  }

  .container .offset-by-eleven
  {
    padding-left: 528px;
  }

  .container .offset-by-twelve
  {
    padding-left: 576px;
  }

  .container .offset-by-thirteen
  {
    padding-left: 624px;
  }

  .container .offset-by-fourteen
  {
    padding-left: 672px;
  }

  .container .offset-by-fifteen
  {
    padding-left: 720px;
  }

  #socialCounterWidget .socialCounterBox
  {
    width: 74px !important;
  }
  #socialCounterWidget .socialCounterBox .count {
    font-size: 13px;
  }
  #socialCounterWidget .socialCounterBox .icon
  {
    margin: auto !important;
    margin-bottom: 10px;
  }
  #sidebar .post_list .post_list_content {
    max-width: 80px;
  }
}
/*  Mobile Portrait */
@media only screen and (max-width: 767px)
{
  #page_inner
  {
    width: 340px;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }
  #searchform #s {
    width: 70%;
  }

  .container
  {
    width: 300px;
  }

  .container .columns,
    .container .column
  {
    margin: 0;
  }

  .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column
  {
    width: 300px;
  }

  body.full_width #main
  {
    width: 300px;
  }
   /* Offsets */
  .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen
  {
    padding-left: 0;
  }

  .auto_column.responsive.col3 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col4 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col5 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col6 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col7 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col8 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col9 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }

  .one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
  {
    width: 300px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .tabs_vertical_frame, .featured_tabs_frame
  {
    display: none;
  }

  .tabs_vertical, .featured_tabs
  {
    padding-left: 0!important;
  }

  .post_list_image, .post_list_image img
  {
    display: none;
  }

  .post_list_content
  {
    overflow: visible;
    display: inline-block;
  }
   /* Ratings */
  .rating_box.overimage
  {
    position: relative !important;
    text-align: left !important;
    display: inline;
    margin: 0 !important;
  }

  /* Tables  */
  .default_table th
  {
    font-size: 10px !important;
    padding: 5px 5px;
  }

  .default_table th:last-child
  {
    padding-right: 5px;
  }

  .default_table th:first-child
  {
    padding-left: 5px;
  }

  .default_table td
  {
    font-size: 10px;
  }

  .table
  {
    width: 99%;
    border: 1px solid #fff;
  }

  .portfolio_gallery.small_post_list .portfolio .post_list_image,
     .portfolio_gallery.small_post_list .portfolio .post_list_image img,
     .portfolio_gallery.large_post_list .portfolio .post_list_image,
     .portfolio_gallery.large_post_list .portfolio .post_list_image img,
     .portfolio_gallery.medium_post_list .portfolio .post_list_image,
     .portfolio_gallery.medium_post_list .portfolio .post_list_image img
  {
    display: inline !important;
    float: left;
  }

  .portfolio_gallery.large_post_list .portfolio .post_list_content,
     .portfolio_gallery.medium_post_list .portfolio .post_list_content,
     .portfolio_gallery.small_post_list .portfolio .post_list_content
  {
    float: left;
    margin-left: 0 !important;
  }

  .portfolio_gallery.large_post_list .portfolio .post_list_content
  {
    float: none !important;
    margin-left: 0 !important;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
  #page_inner
  {
    width: 460px;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }

  .container
  {
    width: 420px;
  }

  .container .columns,
    .container .column
  {
    margin: 0;
  }

  .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column
  {
    width: 420px;
  }

  logo
  {
    text-align: center;
  }

  body.full_width #main
  {
    width: 420px;
  }

  .auto_column.responsive.col3 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col4 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col5 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col6 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col7 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col8 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col9 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }

  .one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
  {
    width: 420px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .tabs_vertical_frame, .featured_tabs_frame
  {
    display: none;
  }

  .tabs_vertical, .featured_tabs
  {
    padding-left: 0!important;
  }

  /* Ratings */
  .rating_box.overimage
  {
    position: relative !important;
    text-align: left !important;
    display: inline;
    margin: 0 !important;
  }
}
/* Other */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px)
{
  .main_navigation a
  {
    padding: 0 15px;
  }
  #searchform #s {
    width: 70%;
  }

  .auto_column.responsive.col3 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col4 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col5 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col6 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col7 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col8 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col9 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }

  li.menu_arrow > a:after
  {
    display: none;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
{
  .main_navigation select
  {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }

  .main_navigation ul
  {
    display: none;
  }

  .auto_column.responsive.col3 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col4 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col5 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col6 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col7 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col8 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col9 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }

  .left_sidebar #sidebar_inner,
  .left_sidebar .sidebar_top,
  .left_sidebar .sidebar_bottom,
  .right_sidebar #sidebar_inner,
  .right_sidebar .sidebar_top,
  .right_sidebar .sidebar_bottom
  {
    width: 100%;
    padding-left: 0;
    background: none;
  }

  .right_sidebar #sidebar_inner
  {
    margin-top: 80px;
  }

  #header
  {
    padding: 10px 0 20px;
  }

  #header_ad, #header_ad img
  {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .logo
  {
    width: 100%;
    margin: 10px 0 20px;
  }

  a.site_logo
  {
    display: block;
  }

  .logo img
  {
    display: block;
    margin: 0 auto;
  }

  .header_social
  {
    display: none;
  }

  .widget_missw_sc_widget
  {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .footer_links
  {
    display: none;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px)
{
  #sidebarWrapper.fixed {
    position: relative;
  }
  
  #page_inner
  {
    width: 460px;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }

  .container
  {
    width: 420px;
  }

  .container .columns,
    .container .column
  {
    margin: 0;
  }

  .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column
  {
    width: 420px;
  }

  logo
  {
    text-align: center;
  }

  body.full_width #main
  {
    width: 420px;
  }

  .auto_column.responsive.col3 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col4 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col5 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col6 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col7 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col8 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }
  .auto_column.responsive.col9 { column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; -ms-column-count: 4; -o-column-count: 4; }

  .one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth
  {
    width: 420px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .tabs_vertical_frame, .featured_tabs_frame
  {
    display: none;
  }

  .tabs_vertical, .featured_tabs
  {
    padding-left: 0!important;
  }

  /* Ratings */
  .rating_box.overimage
  {
    position: relative !important;
    text-align: left !important;
    display: inline;
    margin: 0 !important;
  }
  #sidebar iframe {
	  width: 420px;
	  min-height: 246px;
  }
  #socialCounterWidget .socialCounterBox {
	  width: 138px !important;
  }
  #socialCounterWidget .icon {
	  margin: auto;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 479px)
{
  logo
  {
    text-align: center;
  }

  .slider_title
  {
    font-size: 80%!important;
  }
  .right_sidebar #content,
  .left_sidebar #content {
    background-image: none;
  }

  .slider_desc
  {
    display: none;
  }

  .auto_column.responsive.col3 { column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; }
  .auto_column.responsive.col4 { column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; }
  .auto_column.responsive.col5 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col6 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col7 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col8 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }
  .auto_column.responsive.col9 { column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; -ms-column-count: 3; -o-column-count: 3; }

  #page_inner
  {
    width: 100%;
    margin: 0;
  }
}

.msmw_map
{
  max-width: 100%!important;
}