---
layout: default
title: Joseph Crawford
---
            <div id="content_inner">
                <div id="main" class="ten columns clearfix">
                    <div id="main_inner">
                        <script type="text/javascript">
                            /* <![CDATA[ */
                                jQuery(document).ready(function(){
                                    // YouTube video present
                                    if( jQuery('.youtube_video').length>0 ) {
                                        jQuery('.youtube_video').each(function(index, youtube_video){
                                            onYouTubePlayerAPIReady(youtube_video.id);
                                        });
                                    }

                                    // Vimeo video present
                                    if( jQuery('.vimeo_video').length>0 ) {
                                        jQuery('.vimeo_video').each(function(index, vimeo_video){
                                            Froogaloop.init([vimeo_video]);
                                            vimeo_video.addEvent('onLoad', VimeoEmbed.vimeo_player_loaded);
                                        });
                                    }
    
                                    jQuery('#miss_flexslider').flexslider({
                                        animation:'',
                                        slideDirection:'',
                                        slideshow: true,
                                        slideshowSpeed: 6000,
                                        animationDuration: 400,
                                        directionNav: true,
                                        controlNav: true,
                                        keyboardNav: true,
                                        mousewheel: false,
                                        prevText: '',
                                        nextText: '',
                                        pausePlay: false,
                                        pauseText: '',
                                        playText: '',
                                        randomize: false,
                                        slideToStart: 0,
                                        height: 'auto',
                                        animationLoop: true,
                                        pauseOnAction: false,
                                        pauseOnHover: false,
                                        after: function() {
                                            jQuery('#slider_module .miss_preloader_large').remove();
                                            jQuery('#miss_flexslider').removeClass('noscript');
                                        }
                                    });
                                });
                            /* ]]> */
                        </script>

                        <div id="slider_module">
                            <div id="slider_module_inner">
                                <div class="miss_preloader_large" style="text-align:center;">
                                    <img src="http://www.josephcrawford.com/wp-content/themes/radiostation/assets/images/production/transparent.gif" style="background-image: url(http://www.josephcrawford.com/wp-content/themes/radiostation/assets/images/production/preloader.png);">
                                </div>
                                <div id="miss_flexslider">
                                    <ul class="slides">
                                        {% for post in site.posts %}{% if post.is_review == true and post.image != nil limit:10 %}
                                            <li>
                                                <a href="{{ page.url }}" class="flex-imageLink">
                                                    <img src="images/posts/featured/{{ post.image }}" title="" alt="{{ post.title }}" width="720" height="auto" />
                                                    <div class="flex-caption">
                                                        <h2 class="slider_title">{{ post.title }}</h2>
                                                        <div class="slider_desc">{{ post.excerpt }} </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}{% endfor %}
                                    </ul>
                                </div><!-- #miss_flexslider -->
                                <div class="clearboth"></div>
                            </div>
                        </div>
                        <ul class="post_list blog_layout2">
                            {% for post in site.posts limit:10 %}
                                {% if post.is_review == false %}
                                    <li class="post type-post status-publish format-standard hentry post_list_module">
                                        <div class="post_list_content">
                                            <h2 class="post_title">
                                                <a href="{{ page.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                                            </h2>
                                            <p class="post_meta">
                                                <span class="meta_date">Posted <a href="http://www.josephcrawford.com/2012/12/" title="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</a></span>
                                                <span class="meta_author">by  <a href="http://www.josephcrawford.com/author/jcrawford/">jcrawford</a></span>
                                                <span class="meta_category"> in 
                                                    {% for tag in post.tags %}
                                                        <a href="tags/{{ tag['title'] | downcase }}/" rel="tag">{{ tag['title'] | capitalize }}</a>, 
                                                    {% endfor %}
                                                </span>
                                                <span class="meta_comments"> with <a href="{{ page.url }}/#respond" title="Comment on {{ post.title }}">0 Comments</a></span>
                                            </p>
                                            <div class="post_excerpt">
                                                <p>{{ post.excerpt }}<small>&#8230;</small></p>
                                                <p class="read_more_link"><a class="post_more_link" href="{{ page.url }}">Read More</a></p>
                                            </div>
                                        </div><!-- .content_class -->
                                    </li><!-- #post-## -->
                                {% endif %}
                            {% endfor %}
                        </ul>
                            
                        <div class="wp-pagenavi">
                            <span class="pagenavi-pages">Page 1 of 24</span>
                            <span class="current">1</span>
                            <a href="http://www.josephcrawford.com/page/2/" class="pagenavi-page" title="2">2</a>
                            <a href="http://www.josephcrawford.com/page/3/" class="pagenavi-page" title="3">3</a>
                            <a href="http://www.josephcrawford.com/page/4/" class="pagenavi-page" title="4">4</a>
                            <a href="http://www.josephcrawford.com/page/5/" class="pagenavi-page" title="5">5</a>
                            <a href="http://www.josephcrawford.com/page/2/" >&rarr;</a><a href="http://www.josephcrawford.com/page/10/" class="pagenavi-page" title="10">10</a>
                            <a href="http://www.josephcrawford.com/page/20/" class="pagenavi-page" title="20">20</a>
                            <span class="extend">...</span>
                            <a href="http://www.josephcrawford.com/page/24/" class="last" title="Last &raquo;">Last &raquo;</a>
                        </div>
                        <div class="clearboth"></div>
                    </div><!-- #main_inner -->
                </div><!-- #main -->

                {% include sidebar.html %}
                    
                <div class="clearboth"></div>
            </div><!-- #content_inner -->