                <div id="sidebar" class="six columns">
                    <div id="sidebar_inner">
                        <div id="search-3" class="widget widget_search">
                            <form id="searchform" method="get" action="http://www.josephcrawford.com/">
                                <input type="text" name="s" id="s" value="To search type and hit enter" onfocus="if(this.value=='To search type and hit enter')this.value='';" onblur="if(this.value=='')this.value='To search type and hit enter';">
                                <input type="submit" value=Search id="searchsubmit" />
                            </form>
                        </div>
						<div id="themes">
							<div id="style-switcher">
								<label for="switcher">Select Theme: </label>
								<select name="switcher" id="switcher" style="pretty dk">
									<option value='light_lightblue'>Default</option>
									<option value='gravity'>Gravity</option>
									<option value='dark_blue'>Dark Blue</option>
									<option value='dark_coral'>Dark Coral</option>
									<option value='dark_crimson'>Dark Crimson</option>
									<option value='dark_glance'>Dark Glance</option>
									<option value='dark_green'>Dark Green</option>
									<option value='dark_hotpink'>Dark Hotpink</option>
								</select>
							</div>
						</div>
						<div class="clearboth"></div>
                        <div id="recent-posts-3" class="widget widget_recent_entries">
                            <h4 class="widgettitle"><span>Recent Posts</span></h4>
                            <ul>
                                <li><a href="http://www.josephcrawford.com/2012/12/test/" title="Test">Test</a></li>
                                <li><a href="http://www.josephcrawford.com/2012/12/php-master-series/" title="PHP Master Series">PHP Master Series</a></li>
                                <li><a href="http://www.josephcrawford.com/2012/11/a-new-look/" title="A New Look">A New Look</a></li>
                                <li><a href="http://www.josephcrawford.com/2012/10/review-timing/" title="Review: Timing">Review: Timing</a></li>
                                <li><a href="http://www.josephcrawford.com/2012/10/review-markdown-pro/" title="Review: Markdown Pro">Review: Markdown Pro</a></li>
                            </ul>
                        </div>
                        <div id="top-posts-2" class="widget widget_top-posts"><h4 class="widgettitle"><span>Top Posts &amp; Pages</span></h4><ul class='widgets-list-layout no-grav'>
                            <li>
                                <img src="http://1.gravatar.com/avatar/bf6bc93ab3eeef8996970fa8ac9895a3?s=40&#038;d=http%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwhite-gray-80.png%3Fs%3D40&#038;r=PG" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/php-articles/going-deep-inside-php-sessions/" class="bump-view" data-bump-view="tp">Going deep inside PHP sessions</a></div>
                            </li>
                            <li>
                                <img src="http://1.gravatar.com/avatar/bf6bc93ab3eeef8996970fa8ac9895a3?s=40&#038;d=http%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwhite-gray-80.png%3Fs%3D40&#038;r=PG" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2012/12/php-master-series/" class="bump-view" data-bump-view="tp">PHP Master Series</a></div>
                            </li>
                            <li>
                                <img src="http://i0.wp.com/www.josephcrawford.com/wp-content/uploads/2008/04/tagchimp.png?resize=40%2C40" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2008/05/metax-and-tagchimp/" class="bump-view" data-bump-view="tp">MetaX and tagChimp</a></div>
                            </li>
                            <li>
                                <img src="http://i1.wp.com/www.josephcrawford.com/wp-content/uploads/2009/05/ffusa-featured.png?resize=40%2C40" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2009/05/first-financial-usa-ffusa/" class="bump-view" data-bump-view="tp">First Financial USA (FFUSA)</a></div>
                            </li>
                            <li>
                                <img src="http://i0.wp.com/www.josephcrawford.com/wp-content/uploads/2009/08/WebOS.png?resize=40%2C40" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2009/08/a-basic-webos-application-and-the-depot/" class="bump-view" data-bump-view="tp">A Basic WebOS Application and the Depot</a></div>
                            </li>
                            <li>
                                <img src="http://i0.wp.com/www.josephcrawford.com/wp-content/uploads/2006/11/photo_isight.jpeg?resize=40%2C40" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2006/11/scary-isight-trick/" class="bump-view" data-bump-view="tp">Scary iSight Trick</a></div>
                            </li>
                            <li>
                                <img src="http://1.gravatar.com/avatar/bf6bc93ab3eeef8996970fa8ac9895a3?s=40&#038;d=http%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwhite-gray-80.png%3Fs%3D40&#038;r=PG" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/2010/09/bose-companion-5-and-ubuntu/" class="bump-view" data-bump-view="tp">Bose Companion 5 and Ubuntu (SOLVED)</a></div>
                            </li>
                            <li>
                                <img src="http://1.gravatar.com/avatar/bf6bc93ab3eeef8996970fa8ac9895a3?s=40&#038;d=http%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwhite-gray-80.png%3Fs%3D40&#038;r=PG" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/about/" class="bump-view" data-bump-view="tp">About</a></div>
                            </li>
                            <li>
                                <img src="http://1.gravatar.com/avatar/bf6bc93ab3eeef8996970fa8ac9895a3?s=40&#038;d=http%3A%2F%2Fs1.wp.com%2Fi%2Flogo%2Fwhite-gray-80.png%3Fs%3D40&#038;r=PG" class='widgets-list-layout-blavatar' />
                                <div class="widgets-list-layout-links"><a href="http://www.josephcrawford.com/macdev-articles/using-foundations-nslog-function/" class="bump-view" data-bump-view="tp">Using Foundation&#039;s NSLog Function</a></div>
                            </li>
                        </ul>
                    </div>
                    <div id="popularwidget-2" class="widget miss_popular_widget">
                        <h4 class="widgettitle">
                            <span>Popular Posts</span>
                        </h4>
                        <ul class="post_list small_post_list">
                            <li class="post_list_module">
                                <div class="post_list_image">
                                    <a href="http://www.josephcrawford.com/2007/11/phpwomen-a-site-for-women-programming-php/" title="PHPWomen: A site for women programming PHP">
                                        <img class="hover_fade_js" src="http://www.josephcrawford.com/wp-content/themes/radiostation/cache/php_women_2010_large_calendar-p158038689179469171b7aic_400-119x72.jpeg" title="PHPWomen: A site for women programming PHP" alt="Php Women 2010 Large Calendar P158038689179469171b7aic 400" width="119" height="72" />
                                    </a>
                                </div>
                                <div class="post_list_content">
                                    <p class="post_title">
                                        <a rel="bookmark" href="http://www.josephcrawford.com/2007/11/phpwomen-a-site-for-women-programming-php/" title="PHPWomen: A site for women programming PHP">PHPWomen: A site for women programming PHP</a>
                                    </p>
                                </div>
                            </li>
                            <li class="post_list_module">
                                <div class="post_list_image">
                                    <a href="http://www.josephcrawford.com/2009/03/the-new-itunes-hdcp-content/" title="The New iTunes HDCP Content">
                                        <img class="hover_fade_js" src="http://www.josephcrawford.com/wp-content/themes/radiostation/cache/hdcp-featured-119x72.png" title="The New iTunes HDCP Content" alt="Hdcp Featured" width="119" height="72" />
                                    </a>
                                </div>
                                <div class="post_list_content">
                                    <p class="post_title">
                                        <a rel="bookmark" href="http://www.josephcrawford.com/2009/03/the-new-itunes-hdcp-content/" title="The New iTunes HDCP Content">The New iTunes HDCP Content</a>
                                    </p>
                                </div>
                            </li>
                            <li class="post_list_module">
                                <div class="post_list_image">
                                    <a href="http://www.josephcrawford.com/2007/10/customizing-the-leopard-dock/" title="Customizing the Leopard Dock">
                                        <img class="hover_fade_js" src="http://www.josephcrawford.com/wp-content/themes/radiostation/cache/dock-featured-119x72.png" title="Customizing the Leopard Dock" alt="Dock Featured" width="119" height="72" />
                                    </a>
                                </div>
                                <div class="post_list_content">
                                    <p class="post_title">
                                        <a rel="bookmark" href="http://www.josephcrawford.com/2007/10/customizing-the-leopard-dock/" title="Customizing the Leopard Dock">Customizing the Leopard Dock</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="popularwidget-2" class="widget">
                        <h4 class="widgettitle">
                            <span>Tag Cloud</span>
                        </h4>
                        {% tag_cloud %}
                        <!-- tagcloud goes here -->
                    </div>
                </div><!-- #sidebar_inner -->
            </div><!-- #sidebar -->